<div>
  <div class="bg-jade rounded-lg p-1 mb-2">
    Stock : more than 10
  </div>
  <div class="bg-gamboge rounded-lg p-1 mb-2">
    Stock : 10 or less
  </div>
  <div class="bg-light-coral rounded-lg p-1">
    Stock : 0
  </div>
</div>