<div class="container mx-auto mt-20 px-5">
  <h1 class="text-center text-xl font-bold underline decoration-2 mb-15">Real Time Dashboard for <%= @store.name %></h1>
  <div class="mb-10">
    <%= line_chart @shoes_data %>
  </div>
  <div class="mb-10">
    <%= pie_chart @shoes_data %>
  </div>
  <div>
    <%= column_chart @shoes_data %>
  </div>
</div>